<template>
  <q-page class="q-pa-md">
    <div class="d-flex justify-center align-center">
      <div class="q-card q-ma-md">
        <div class="mb-3 mt-3">
          <label for="user" style="font-size: 30px; margin-left: 350px"
            >User Information Form</label
          >
        </div>
        <q-card-section>
          <q-form ref="submitfrm" @submit="submit()" class="q-ma-md">
            <q-input
              filled
              :dense="$q.screen.gt.xs"
              :outlined="$q.screen.lt.sm"
              v-model="form.name"
              label="Name"
              lazy-rules
              :rules="[(val) => !!val || 'Required to fill.']"
            />

            <q-input
              filled
              :dense="$q.screen.gt.xs"
              :outlined="$q.screen.lt.sm"
              v-model="form.username"
              label="Username"
              lazy-rules
              :rules="[
                (val) => !!val || 'Required to fill.',
                (val) =>
                  val.length >= 8 ||
                  'Username must be atleast 8 characters long',
              ]"
            />
            <q-input
              filled
              :dense="$q.screen.gt.xs"
              :outlined="$q.screen.lt.sm"
              v-model="form.email"
              label="Email Address"
              :rules="[
                (val) => !!val || 'Required to fill.',
                (val) =>
                  val.endsWith('@gmail.com') ||
                  'Invalid email address, should end with @gmail.com',
              ]"
            />
            <q-input
              filled
              :dense="$q.screen.gt.xs"
              :outlined="$q.screen.lt.sm"
              v-model="form.address.street"
              label="Street"
              lazy-rules
              :rules="[(val) => !!val || 'Required to fill.']"
            />
            <q-input
              filled
              :dense="$q.screen.gt.xs"
              :outlined="$q.screen.lt.sm"
              v-model="form.address.suite"
              label="Suite"
              lazy-rules
              :rules="[(val) => !!val || 'Required to fill.']"
            />
            <q-input
              filled
              :dense="$q.screen.gt.xs"
              :outlined="$q.screen.lt.sm"
              v-model="form.address.city"
              label="City"
              lazy-rules
              :rules="[(val) => !!val || 'Required to fill.']"
            />
            <q-input
              filled
              :dense="$q.screen.gt.xs"
              :outlined="$q.screen.lt.sm"
              type="number"
              v-model="form.address.zipcode"
              label="Zipcode"
              lazy-rules
              :rules="[(val) => !!val || 'Required to fill.']"
            />
            <q-input
              filled
              :dense="$q.screen.gt.xs"
              :outlined="$q.screen.lt.sm"
              type="number"
              v-model="form.phone"
              label="Phone No."
              :rules="[
                (val) => !!val || 'Required to fill.',
                (val) => val.startsWith('09') || 'Invalid Phone No.',
                (val) =>
                  val.length == 11 ||
                  'Phone No. must be only 11 characters long',
              ]"
            />
            <q-input
              filled
              :dense="$q.screen.gt.xs"
              :outlined="$q.screen.lt.sm"
              v-model="form.website"
              label="Website"
              lazy-rules
              :rules="[
                (val) => !!val || 'Required to fill.',
                (val) =>
                  val.endsWith('.pixel8') ||
                  'Invalid website address, should end with .pixel8',
              ]"
            />
            <q-input
              filled
              :dense="$q.screen.gt.xs"
              :outlined="$q.screen.lt.sm"
              v-model="form.company.name"
              label="Company Name"
              lazy-rules
              :rules="[(val) => !!val || 'Required to fill.']"
            />
            <q-input
              filled
              :dense="$q.screen.gt.xs"
              :outlined="$q.screen.lt.sm"
              v-model="form.company.catchPhrase"
              label="Catch Phrase"
              lazy-rules
              :rules="[(val) => !!val || 'Required to fill.']"
            />
            <q-input
              filled
              :dense="$q.screen.gt.xs"
              :outlined="$q.screen.lt.sm"
              v-model="form.company.bs"
              label="Bs"
              lazy-rules
              :rules="[(val) => !!val || 'Required to fill.']"
            />
            <div class="q-ma-md text-center">
              <q-btn
                :loading="btnLoadingState"
                type="submit"
                label="Submit"
                color="primary"
                style="width: 250px; margin-top: 10px"
                class="text-center"
              />
            </div>
          </q-form>
        </q-card-section>
      </div>
    </div>
  </q-page>
</template>
<script>
import { ref } from "vue";
import axios from "axios";
import { submit, rows, btnLoadingState } from "../composables/Task";
let form = ref({
  name: "",
  username: "",
  email: "",
  address: {
    street: "",
    suite: "",
    city: "",
    zipcode: "",
  },
  phone: "",
  website: "",
  company: {
    name: "",
    catchPhrase: "",
    bs: "",
  },
});
let submitfrm = ref(null);
export default {
  setup() {
    /*
    const getTodos = () => {
      axios
        .get("https://jsonplaceholder.typicode.com/users")
        .then((response) => {
          rows.value = response.data;
        });
    };

    getTodos();
    */
    /*
    const updateTodo = () => {
      btnLoadingState.value = true;
      axios
        .put(
          `https://jsonplaceholder.typicode.com/users/${selectedRow.value.id}`,
          {
            name: form.value.name,
            username: form.value.username,
            email: form.value.email,
            address: form.value.address,
            phone: form.value.phone,
            website: form.value.website,
            company: form.value.company,
          }
        )
        .then((response) => {
          if (response.status === 200) {
            let index = rows.value.findIndex(
              (row) => row.id === selectedRow.value.id
            );
            rows.value[index].name = response.data.name;
            rows.value[index].username = response.data.username;
            rows.value[index].email = response.data.email;
            rows.value[index].address = response.data.address;
            rows.value[index].phone = response.data.phone;
            rows.value[index].website = response.data.website;
            rows.value[index].company = response.data.company;
            form.value = {
              name: "",
              username: "",
              email: null,
              address: {
                street: "",
                suite: "",
                city: "",
                zipcode: "",
              },
              phone: null,
              website: "",
              company: {
                name: "",
                catchPhrase: "",
                bs: "",
              },
            };

            selectedRow.value = {};
          }
          //showDialog.value = false;
          btnLoadingState.value = false;
          //routes.push("add-user"); // navigate to another page
        });
      submitfrm.value.reset();
    };
    */
    let rows = ref([]);
    let columns = ref([
      {
        name: "id",
        label: "id",
        align: "left",
        field: "id",
      },
      {
        name: "name",
        label: "Name",
        align: "left",
        field: "name",
      },
      {
        name: "username",
        label: "Username",
        align: "left",
        field: "username",
      },
      {
        name: "email",
        label: "Email Address",
        align: "left",
        field: "email",
      },
      {
        name: "address",
        label: "Address",
        align: "left",
        field: "address",
        format: (value, row) =>
          `${row.address.street}, ${row.address.suite}, ${row.address.city} ${row.address.zipcode}`,
      },
      {
        name: "phone",
        label: "Phone No.",
        align: "left",
        field: "phone",
      },
      {
        name: "website",
        label: "Website",
        align: "left",
        field: "website",
      },
      {
        name: "company",
        label: "Company Name",
        align: "left",
        field: "company",
        format: (value, row) =>
          `${row.company.name} - ${row.company.catchPhrase} - ${row.company.bs}`,
      },
    ]);

    /*
    let submit = () => {
      btnLoadingState.value = true;
      axios
        .post("https://jsonplaceholder.typicode.com/users", form.value)
        .then((response) => {
          console.log(form.value);
          if (response.status === 201) {
            let row = response.data;
            rows.value.push(row);
            form.value = {
              name: "",
              username: "",
              email: "",
              address: {
                street: "",
                suite: "",
                city: "",
                zipcode: "",
                geo: {
                  lat: "",
                  lng: "",
                },
              },
              phone: "",
              website: "",
              company: {
                name: "",
                catchPhrase: "",
                bs: "",
              },
            };
            submitfrm.value.reset(); // add this line to reset the form
          }
          btnLoadingState.value = false;
        });
    };
    */

    let selectedRow = ref({});
    const onRowClick = (evt, row) => {
      selectedRow.value = row;
      form.value.UserId = row.UserId;
      form.value.name = row.name;
      form.value.username = row.username;
      form.value.email = row.email;
      form.value.address = row.address;
      form.value.phone = row.phone;
      form.value.website = row.website;
      form.value.company = row.company;
    };

    return {
      form,
      rows,
      selectedRow,
      onRowClick,
      submitfrm,
      btnLoadingState,
      columns,
      submit,
      //updateTodo,
    };
  },
};
export { form, submitfrm };
</script>
