<template>
  <q-page class="q-pa-md">
    <div class="d-flex justify-center align-center">
      <div class="q-card q-ma-md">
        <!-- ito niremove ko sa loob ng q-table
           v-for="item in tableData"
          :key="item.id"
          @click="selectItem(item)"
          row-key="name"
           @row-click="onRowClick"
          @click="selectItem(item)"
        -->

        <q-table
          style="width: 90%px; margin-left: 10px"
          title="List of Users"
          :rows="rows"
          :columns="columns"
        >
          <template v-slot:body="props">
            <q-tr :props="props">
              <q-td class="table-data" key="id">
                {{ props.row.id }}
              </q-td>
              <q-td class="table-data" key="name">
                {{ props.row.name }}
              </q-td>
              <q-td key="username"> @{{ props.row.username }} </q-td>
              <q-td key="email">
                {{ props.row.email }}
              </q-td>
              <q-td key="address">
                {{
                  props.row.address.street +
                  "\n" +
                  props.row.address.suite +
                  "--" +
                  props.row.address.city +
                  " - " +
                  props.row.address.zipcode
                }}
              </q-td>
              <q-td key="phone">
                {{ props.row.phone }}
              </q-td>
              <q-td key="website">
                {{ props.row.website }}
              </q-td>
              <q-td key="company">
                {{
                  props.row.company.name +
                  "\n" +
                  props.row.company.catchPhrase +
                  "--" +
                  props.row.company.bs
                }}
              </q-td>
              <q-td key="updateBtn">
                <q-btn
                  color="primary"
                  label="Update"
                  @click="updateTodo(props.row)"
                  to="/add-user"
                ></q-btn>
              </q-td>
              <!-- yung key talaga both update at del btn ay 'name' -->
              <q-td key="delBtn">
                <q-btn
                  flat
                  icon="delete_outline"
                  color="red"
                  :loading="deleteBtnLoadingState"
                  @click="deleteTodo()"
                  class="q-ml-md"
                />
              </q-td>
            </q-tr>
          </template>
        </q-table>

        <!-- type="" -> kapag tinangggal ko code na ito di magwowork yung edit btn @click.stop="toggleDialog(row, 'edit')"-->
        <!--
           <q-btn
          :loading="btnLoadingState"
          type=""
          v-if="selectedRow.id"
          @click="updateTodo()"
          label="Edit"
          color="primary"
          style="width: 250px; margin-top: 10px; margin-left: 250px"
        />
        -->

        <!--  @click.stop="toggleDialog(row, 'delete')"  @click="deleteTodo()" -->
        <!--
           <q-btn
          style="width: 240px; margin-top: 10px; margin-left: 10px"
          :loading="deleteBtnLoadingState"
          v-if="selectedRow.id"
          @click="deleteTodo()"
          class="q-ml-md"
          label="Delete"
          color="negative"
        />
        -->

        <!--
        <div class="q-mt-xl">
          <q-card class="q-mt-sm">
            <q-card-section
              class="bg-primary text-white q-pa-none flex justify-between items-center"
            >
              <div class="text-bold">
                {{ selectedRow.id }}
              </div>
              <div class="bg-white q-pa-sm">
        -->
        <!-- Ito niremove ko sa loob ng q-btn edit
                  @click="updateTodo()"
                  <router-link
                  :to="{ name: 'add-user', props: { selectedItem } }"
                   </router-link>
                >
                -->
        <!--
                <q-btn
                  flat
                  icon="edit"
                  color="green"
                  :loading="btnLoadingState"
                  type=""
                  to="/add-user"
                  @click="setUserToUpdate(props.row)"
                />

                <q-btn
                  flat
                  icon="delete_outline"
                  color="red"
                  :loading="deleteBtnLoadingState"
                  @click="deleteTodo()"
                  class="q-ml-md"
                />
              </div>
            </q-card-section>
          </q-card>
        </div>
      -->
        <!-- start -->
        <!--
        <q-dialog v-model="showDialog" persistent>
          <q-card>
            <q-card-section class="row items-center">
              <div v-if="updateTodo" class="q-ml-sm">
                Are you sure you want to edit
                <span class="text-green">"{{ updateTodo.todo }}"</span>?
              </div>
              <div v-else class="q-ml-sm">
                Are you sure you want to delete
                <span class="text-green">"{{ deleteTodo.todo }}"</span>?
              </div>
            </q-card-section>

              <q-card-actions align="right">
              <q-btn flat label="Cancel" color="primary" v-close-popup />
              <q-btn
                @click="toMarkAsDone ? updateTodo() : deleteTodo()"
                flat
                label="Yes"
                color="primary"
                v-close-popup
              />
            </q-card-actions>

          </q-card>
        </q-dialog>
        -->
        <!-- end -->
      </div>
    </div>
  </q-page>
</template>

<script>
import { ref } from "vue";
import axios from "axios";
//import { reactive } from "vue";
import { getTodos } from "../composables/Task";
//import routes from "routes"; // import the router
let rows = ref([]);
let btnLoadingState = ref(false);
export default {
  setup() {
    // get the list of users using the get-request method
    /*
    const getTodos = () => {
      axios
        .get("https://jsonplaceholder.typicode.com/users")
        .then((response) => {
          rows.value = response.data;
        });
    };

    getTodos();
    */
    //let rows = ref([]);
    // DITO AKO NAGSTART MAGMODIFY
    /*
    const tableData = reactive([
      {
        name: "id",
        label: "id",
        align: "left",
        field: "id",
      },
      {
        name: "name",
        label: "Name",
        align: "left",
        field: "name",
      },
      {
        name: "username",
        label: "Username",
        align: "left",
        field: "username",
      },
      {
        name: "email",
        label: "Email Address",
        align: "left",
        field: "email",
      },
      {
        name: "address",
        label: "Address",
        align: "left",
        field: "address",
        format: (value, row) =>
          `${row.address.street}, ${row.address.suite}, ${row.address.city} ${row.address.zipcode}`,
      },
      {
        name: "phone",
        label: "Phone No.",
        align: "left",
        field: "phone",
      },
      {
        name: "website",
        label: "Website",
        align: "left",
        field: "website",
      },
      {
        name: "company",
        label: "Company Name",
        align: "left",
        field: "company",
        format: (value, row) =>
          `${row.company.name} - ${row.company.catchPhrase} - ${row.company.bs}`,
      },
    ]);
    const selectedItem = reactive(null);

    function selectItem(item) {
      selectedItem.value = item;
    }
    */
    // DITO AKO NAGSTOP MAGMODIFY
    /*
    let columns = ref([
      {
        name: "id",
        label: "id",
        align: "left",
        field: "id",
      },
      {
        name: "name",
        label: "Name",
        align: "left",
        field: "name",
      },
      {
        name: "username",
        label: "Username",
        align: "left",
        field: "username",
      },
      {
        name: "email",
        label: "Email Address",
        align: "left",
        field: "email",
      },
      {
        name: "address",
        label: "Address",
        align: "left",
        field: "address",
        format: (value, row) =>
          `${row.address.street}, ${row.address.suite}, ${row.address.city} ${row.address.zipcode}`,
      },
      {
        name: "phone",
        label: "Phone No.",
        align: "left",
        field: "phone",
      },
      {
        name: "website",
        label: "Website",
        align: "left",
        field: "website",
      },
      {
        name: "company",
        label: "Company Name",
        align: "left",
        field: "company",
        format: (value, row) =>
          `${row.company.name} - ${row.company.catchPhrase} - ${row.company.bs}`,
      },
    ]);
    */
    /*
    const users = ref([]);
    const editUser = (user) => {
      this.$router.push({
        name: "addUser",
        params: { userId: user.id },
      });
    };
    */

    // functions and variables that will be used in the form
    /*
    let form = ref({
      name: "",
      username: "",
      email: "",
      address: {
        street: "",
        suite: "",
        city: "",
        zipcode: "",
      },
      phone: "",
      website: "",
      company: {
        name: "",
        catchPhrase: "",
        bs: "",
      },
    });
    */
    //let submitfrm = ref(null); //san to galing?

    // updating a user from the list
    // function that will catch the information of selected user

    let selectedRow = ref({});
    const onRowClick = (evt, row) => {
      selectedRow.value = row;
      form.value.UserId = row.UserId;
      form.value.name = row.name;
      form.value.username = row.username;
      form.value.email = row.email;
      form.value.address = row.address;
      form.value.phone = row.phone;
      form.value.website = row.website;
      form.value.company = row.company;
    };

    // function that will show the dialog and that will get the selected row data
    /*
    let showDialog = ref(false);
    const toggleDialog = (row, status) => {
      showDialog.value = true;
      toMarkAsDone.value = toDelete.value = null;
      status !== "delete" ? (toMarkAsDone.value = row) : (toDelete.value = row);
    };
    */

    let updateTodo = (user) => {
      userID.value = user.id;
      name.value = user.name;
      username.value = user.username;
      email.value = user.email;
      phoneNo.value = user.phone;
      website.value = user.website;
      street.value = user.address.street;
      suite.value = user.address.suite;
      city.value = user.address.city;
      zipCode.value = user.address.zipcode;
      companyName.value = user.company.name;
      catchPhrase.value = user.company.catchPhrase;
      bs.value = user.company.bs;
    };

    /* ITO YUNG ORIG SA ITONG-ITO
    let updateTodo = (user) => {
      userID.value = user.id;
      name.value = user.name;
      username.value = user.username;
      email.value = user.email;
      phoneNumber.value = user.phone;
      website.value = user.website;
      street.value = user.address.street;
      suite.value = user.address.suite;
      city.value = user.address.city;
      zipCode.value = user.address.zipcode;
      companyName.value = user.company.name;
      catchPhrase.value = user.company.catchPhrase;
      baseService.value = user.company.bs;
    };
    */
    //itong updateTodo ito yung parang edit/toMarkAsDone
    //let toMarkAsDone = ref(null);
    // function to update the selected user
    /*  ORIGINAl UPDATE
    const updateTodo = () => {
      btnLoadingState.value = true;
      axios
        .put(
          `https://jsonplaceholder.typicode.com/users/${selectedRow.value.id}`,
          {
            name: form.value.name,
            username: form.value.username,
            email: form.value.email,
            address: form.value.address,
            phone: form.value.phone,
            website: form.value.website,
            company: form.value.company,
          }
        )
        .then((response) => {
          if (response.status === 200) {
            let index = rows.value.findIndex(
              (row) => row.id === selectedRow.value.id
            );
            rows.value[index].name = response.data.name;
            rows.value[index].username = response.data.username;
            rows.value[index].email = response.data.email;
            rows.value[index].address = response.data.address;
            rows.value[index].phone = response.data.phone;
            rows.value[index].website = response.data.website;
            rows.value[index].company = response.data.company;
            form.value = {
              name: "",
              username: "",
              email: null,
              address: {
                street: "",
                suite: "",
                city: "",
                zipcode: "",
              },
              phone: null,
              website: "",
              company: {
                name: "",
                catchPhrase: "",
                bs: "",
              },
            };

            selectedRow.value = {};
          }
          //showDialog.value = false;
          btnLoadingState.value = false;
          //routes.push("add-user"); // navigate to another page
        });
      submitfrm.value.reset();
    };
    */
    /* IDELETE BA TO?
    methods: {
      editUser(id);
      {
        const user = this.users.find((u) => u.id === id);
        this.$router.push({
          name: "AddUser",
          params: { id },
          query: user,
        });
      }
    }
    */

    //let deleteTodo = (id) => {
    // DELETE REQUEST
    /*
      axios
        .delete(
          `https://jsonplaceholder.typicode.com/users/${selectedRow.value.id}`
        )
        .then((response) => {
          if (response.status >= 200) {
            rows.value = rows.value.filter((user) => user.id !== id);
          }
          deleteBtnLoadingState.value = false;
          confirmation.value = false;
        })
        .catch((error) => console.log(error));
    };
    */
    // function that will delete a user from the Users list
    //let toDelete = ref(null);

    let deleteBtnLoadingState = ref(false);
    const deleteTodo = () => {
      deleteBtnLoadingState.value = true;
      axios
        .delete(
          `https://jsonplaceholder.typicode.com/users/${selectedRow.value.id}`
        )
        .then((response) => {
          if (response.status === 200) {
            let index = rows.value.findIndex(
              (row) => row.id === selectedRow.value.id
            );
            rows.value.splice(index, 1);
            selectedRow.value = {};
          }
          //showDialog.value = false;
          deleteBtnLoadingState.value = false;
        });
    };

    return {
      //form,
      rows,
      selectedRow,
      //onRowClick,
      //submitfrm,
      getTodos,
      //columns,
      updateTodo,
      deleteTodo,
      deleteBtnLoadingState,
      btnLoadingState,
      //tableData, //dito ako nagstart mag-add
      //selectedItem,
      //selectItem,
    };
  },
  /*
  data() {
    return {
      tableData: [],
      selectedItem: null,
    };
  },
  methods: {
    selectItem(item) {
      this.selectedItem = item;
    },
  },
  */
};
export { rows };
</script>
